<!doctype html>
<html lang="en">

{% block content %}
{% include "js_base.html" %}
{%- endblock %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Grupp 14">

  <title>Robot 14 - Kontrollpanel</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

  <!-- Bootstrap core CSS -->
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<body>

  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Robot 14</h4>
            <p class="text-muted">Automatisk kastrull omrörare</p>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">

        <ul class="navbar-nav mx-auto">
          <img src="{{url_for('static', filename='img/space_chef.png')}}" width="200" height="60"
            class="navbar-brand abs" alt="">
        </ul>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
    </div>
  </header>


  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Kontrollpanel</h1>
          <p class="lead text-muted" id="socket_connction_status">Offline</p>

          <!-- Styrknappar -->
          <p>
            <button id="start_motor" onclick="updateValue(30);" class="btn btn-primary my-2 edit-modal-opener">Starta
              motor</button>
            <button id="stop_motor" onclick="updateValue(0);" class="btn btn-danger my-2">Stoppa motor</button>
          </p>

          <!--RPM slider -->
          <p>
            <label for="rpm_slider" class="form-label" id="rpm_slider_text">Motorhastighet (RPM): 0</label>
            <input type="range" class="form-range" id="rpm_slider" min="0" max="255" value="0">
          </p>
        </div>

        <!-- Tabell -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Namn</th>
              <th scope="col">Värde</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Motor status</td>
              <td style="color:orange;" class="fw-bold" id="motor_status_cell">Ansluter...</td>
            </tr>

            <tr>
              <th scope="row">Motor hastighet (RPM)</th>
              <td colspan="2" id="actual_rpm_cell">-</td>
            </tr>

          </tbody>
        </table>

        <!-- Plotly Graf -->
        <div class="row py-lg-5">
          <div id="tester2"></div>
        </div>
      </div>



    </section>



</body>

</html>

<!-- Custom Javascript for index.html-->
<script src="{{url_for('static', filename='websocket.js')}}"></script>
<script src="{{url_for('static', filename='plotting.js')}}"></script>